.searchResult{
    display: flex;
    position: relative;
    margin: 20px;
    padding:20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    min-height: 100px;
}

.searchResult:hover{
    opacity: 0.8;
}

.title{
    font-size: 1.5rem !important;
}

.searchResult > img{
    min-height: 80px;
    min-width: 120px;
    flex: 0.4;
    max-height: 200px;
    object-fit: contain;
    max-width: 350px;
    border-radius: 5px;
}

.searchResult__info{
    min-height: 80px;
    min-block-size: 80px;
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.searchResult__heart{
    position: absolute;
    top: 20px;
    right: 40px;
}

.searchResult__infoTop{
    width: 100%;
    flex: 0.6;
    width: 100%;
}

.searchResult__infoTop > h3{
    font-size: 400;
    margin-top: 10px;
}

.searchResult__infoTop > p{
    font-size: 0.9rem;
}

.searchResult__infoBottom{
    display: flex;
    justify-content: space-between;
}

.searchResult__star{
    color: red;
}

.searchResult__stars{
    
    display: flex;
    align-items: center;
}

.searchResult__price{
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 30px;
}